{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% load staticfiles %}

{% block styles%}
{% bootstrap_css %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css"
  integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
  integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<link rel="stylesheet" href="{% static 'css/index.css' %}">
{%endblock %}

{% block content %}
<div class="container row text-center">
  {% if projects %}
  <h2> Found {{projects|length}} The Following are the projects:</h2>
  {% endif %}
</div>


{% if projects %}
<div class="container row text-center">
  <div class="pages">
    <div class="row">
      {% for project in projects %}
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <div class="card" style="width: 40.2rem;">
          <div class="card-body">
            <a href="/project_site/{{project.id}}" style="color:black;text-decoration:none;">
              <h5 class="card-title" style="line-height:28px;">Title : {{project.title}}</h5>
              <p class="card-text">Project Owner : {{project.owner}}</p>
              <p class="card-text">Post Date : {{project.pub_date}}</p>
              <p class="card-text"> Rating : {{project.design}}</p>
              <p class="card-text"> Content : {{project.content}}</p>
              <p class="card-text"> Usability : {{project.usability}}</p>
              <p class="card-text"> Design : {{project.design}}</p>
              <img src="{{project.profpic.url}}" class="img-fluid" alt="Project image">
            </a>
          </div>
        </div>
      </div>
      {% endfor %}

    </div>
    {%endif %}

  </div>
</div>

{% endblock %}