{% include 'base.html' %}
{% block content%}
{% load bootstrap4 %}
<div class="container">

  <!-- Looping through news   -->
  {% for awards_item in projects %}

    <!--Display news Article images  -->
    <div class="col-4">
            <h2 class="text-center"><a href="{{awards_item.title}}">Projects </a></h2>
            <h2>{{awards_item.post}} {{awards_item.owner}}</h2>   
         </div>

  </div>


  {% empty %}
  <div class="row">
    <h2 class="text-center">There No Projects</h2>
  </div>

  {% endfor %}

{% endblock %}